﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3">
    <div class="row">

        <div class="col-9">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
        </div>
        <div class="col-3" id="alertSuccess"></div>

    </div>
</div>


<div class="card">
    <div class="card-header">
        Featured
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <button type="button" class="btn btn-primary rounded" onclick="openModalCreate(null)">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Usuario
                </button>
            </div>
        </div>
        <hr />
        <table class="display cell-border" id="table" style="width:100%">
            <thead>
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Telefóno</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Reseteo</th>
                    <th scope="col">Reseteo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Crear nuevo usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <form>
                <div class="modal-body">
                    <div class="form-floating px-1 mb-2  ">
                        <input type="text" name="Uname" class="form-control" id="name" placeholder="">
                        <label for="floatingName">Nombre</label>
                    </div>
                    <div class="form-floating px-1 mb-2 ">
                        <input type="text"  name="Ulastname" class="form-control" id="lastname" placeholder="">
                        <label for="floatingLastname">Apellidos</label>
                    </div>
                    <div class="form-floating px-1 mb-2">
                        <input type="email"  name="Uemail" class="form-control" id="email" placeholder="">
                        <label for="floatingEmail">Correo electrónico</label>
                    </div>
                    <div class="form-floating px-1 mb-2">
                        <input type="text"  name="Uphone" class="form-control" id="phone" placeholder="">
                        <label for="floatingPhone">Teléfono</label>
                    </div>
                    <div class="form-floating px-1 mb-2 ">
                        <input type="password" name="Upassword" class="form-control" id="password" placeholder="">
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select"  name="Ustatus" id="status" aria-label="Floating label select example">
                            <option selected>Selecciona el estado del usuario</option>
                            <option value="0">Inactivo</option>
                            <option value="1">Activo</option>
                            <option value="2">Suspendido</option>
                            <option value="3">Eliminado</option>
                        </select>
                        <label for="floatingStatus">Estado</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onsubmit="Create()">Guardar</button>
                </div>
            </form>
                
        </div>
    </div>
</div>


<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Actualizar usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-2  ">
                                <input type="text" class="form-control" id="Uname" placeholder="">
                                <label for="">Nombre</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-2 ">
                                <input type="text" class="form-control" id="Ulastname" placeholder="">
                                <label for="">Apellidos</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="Uemail" placeholder="ejemplo@correo.com" required>
                                <label for="">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="Uphone" placeholder="">
                                <label for="">Teléfono</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <select class="form-select" id="Ustatus" aria-label="Estado del usuario">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                    <option value="2">Suspendido</option>
                                    <option value="3">Eliminado</option>
                                </select>

                                <label for="floatingStatus">Estado</label>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Eliminar usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal View -->
<div class="modal fade" id="modalView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Datos del usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div id="alertWarning"></div>

                    <div class="form-floating px-1 mb-2  ">
                        @*<input id="id" type="hidden" value="0" />*@
                        <input type="text" name="name" class="form-control" id="name" placeholder="" required autocomplete="current-name">
                        <label for="name">Nombre</label>
                    </div>
                    <div class="form-floating px-1 mb-2 ">
                        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="" required autocomplete="current-lastname">
                        <label for="lastname">Apellidos</label>
                    </div>
                    <div class="form-floating px-1 mb-2">
                        <input type="email" name="email" class="form-control" id="email" placeholder="" required autocomplete="current-email">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="form-floating px-1 mb-2">
                        <input type="text" name="phone" class="form-control" id="phone" placeholder="" required autocomplete="current-phone">
                        <label for="phone">Teléfono</label>
                    </div>

                    <div class="form-floating px-1 mb-2">
                        <input type="password" name="password" class="form-control" required id="password"
                               placeholder="" autocomplete="current-password">
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" name="status" id="status" required aria-label="Floating label select example">
                            <option value="">Selecciona el estado del usuario</option>
                            <option value="0">Inactivo</option>
                            <option value="1">Activo</option>
                            <option value="2">Suspendido</option>
                            <option value="3">Eliminado</option>
                        </select>
                        <label for="status">Estado</label>
                    </div>
                </div>

<<<<<<< HEAD
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Create()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Actualizar usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-2  ">
                                <input id="Uid" type="hidden" />

                                <input type="text" class="form-control" id="Uname" placeholder="" required>
                                <label for="Uname">Nombre</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-2 ">
                                <input type="text" class="form-control" id="Ulastname" placeholder="" required>
                                <label for="Ulastname">Apellidos</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="Uemail" placeholder="ejemplo@correo.com" required>
                                <label for="Uemail">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="Uphone" placeholder="" required>
                                <label for="Uphone">Teléfono</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-floating">
                                <select class="form-select" id="Ustatus" aria-label="Estado del usuario">
                                    <option value="0">Inactivo</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Suspendido</option>
                                    <option value="3">Eliminado</option>
                                </select>

                                <label for="Ustatus">Estado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Update()">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- Modal View -->
<div class="modal fade" id="modalView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Datos del usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form>
                <div class="modal-body">
                    <p><strong>Nombre: </strong><span id="Vname"></span></p>
                    <p><strong>Apellido: </strong><span id="Vlastname"></span></p>
                    <p><strong>Email: </strong><span id="Vemail"></span></p>
                    <p><strong>Teléfono: </strong><span id="Vphone"></span></p>
                    <p><strong>Estado: </strong><span id="Vstatus"></span></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateLabel">Eliminar usuario</h1>
                <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <form>
                <div class="modal-body">

                </div>

=======
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var dataTable;
        var rowSelect;
        @*jQuery.ajax({
            url: '@Url.Action("ListUser", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
            }
        })*@

        dataTable = $("#table").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListUser", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                //{ "data": "Uid" },
                { "data": "Uname" },
                { "data": "Ulastname" },
                { "data": "Uemail" },
                { "data": "Uphone" },
                //{ "data": "Upassword" },
                {
                    "data": "Ustatus", "render": function (valor) {
                        if (valor == 1) {
                            return '<span class="badge rounded-pill text-bg-primary">Activo</span>'
                        } else if (valor == 2) {
                            return '<span class="badge rounded-pill text-bg-warning">Suspendido</span>'
                        } else {
                            return '<span class="badge rounded-pill text-bg-danger">Inactivo</span>'
                        }
                    }
                },
                {
                    "data": "Ureset", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge rounded-pill text-bg-primary">Si</span>'
                        } else {
                            return '<span class="badge rounded-pill text-bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button class="btn btn-primary btn-sm ms-1 btn-edit" onclick="openModalUpdate(null)"><i class="fas fa-pen"></i></button>' +
                        '<button class="btn btn-warning btn-sm ms-1 btn-view" onclick="openModalDelete()"><i class="fas fa-eye"></i></button>' +
<<<<<<< HEAD
                        '<button class="btn btn-danger  btn-sm ms-1 btn-delete" onclick="openModalView(null)"><i class="fas fa-trash"></i></button>',
=======
                        '<button class="btn btn-danger  btn-sm ms-1 btn-delete" onclick="openModalView()"><i class="fas fa-trash"></i></button>',
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d
                    "orderable": false,
                    "searchable": false,
                    "width": "100px"
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json'
            }

        });

<<<<<<< HEAD


        //////////////////////////////////////////////
        /////////////   Modal Create   ///////////////
        //////////////////////////////////////////////

=======
        // Modal Create
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d

        function openModalCreate(json) {
            $("#modalCreate").modal("show")
        }

<<<<<<< HEAD

        function Create() {
            var user = {
                Uid: $("#id").val(),
=======
        function Create() {

            var create = {
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d
                Uname: $("#name").val(),
                Ulastname: $("#lastname").val(),
                Uemail: $("#email").val(),
                Uphone: $("#phone").val(),
                Upassword: $("#password").val(),
<<<<<<< HEAD
                Ustatus: $("#status").val(),
            };

            jQuery.ajax({
                url: '@Url.Action("CreateUser", "Home")',
                type: "POST",
                data: JSON.stringify(user),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.result > 0) {
                        user.Uid = data.result;
                        dataTable.row.add(user).draw(false);
                        $("#modalCreate").modal("hide");
                        showAlertSuccess(data.message, "success");

                    } else {

                        showAlertWarning(data.message, "warning");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error en la solicitud AJAX: ", status, error);
                    console.log("Respuesta del servidor: ", xhr.responseText);
                    alert("Error en la solicitud AJAX. Revisa la consola para más detalles.");
                },
            });
        }


        //////////////////////////////////////////////
        /////////////   Modal Update   ///////////////
        //////////////////////////////////////////////
=======
                Ustatus: $("#status").val() 
            }

            try {
                dataTable.row.add(create).draw(false);
            } catch (error) {
                console.error("Error while adding a row to the DataTable: ", error);            
            }
           
            $("#modalCreate").modal("hide")

        }

        // Modal Update
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d

        function openModalUpdate(json) {
            if (json != null) {
                $("#Uname").val(json.Uname);
                $("#Ulastname").val(json.Ulastname);
                $("#Uemail").val(json.Uemail);
                $("#Uphone").val(json.Uphone);

<<<<<<< HEAD
                const statusMap = {
                    0: 0,
                    1: 1,
                    2: 2
                };
                //    $("#Ustatus").val(statusMap[json.Ustatus] || "Desconocido");
                $("#Ustatus").val(statusMap[json.Ustatus] !== undefined ? statusMap[json.Ustatus] : "0");

            }
=======
                //$("#Ustatus").val(json.Ustatus == true ? "Activo" : "Inactivo");
                // Mapear valores de Ustatus a descripciones

                const statusMap = {
                    1: 1,
                    0: 0,
                    2: 2,
                    3: 3
                };
                $("#Ustatus").val(statusMap[json.Ustatus] || "Desconocido");
               }
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d
            $("#modalUpdate").modal("show")
        }

        $("#table tbody").on("click", '.btn-edit', function () {
<<<<<<< HEAD
            rowSelect = $(this).closest("tr");
=======
            var rowSelect = $(this).closest("tr");
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d
            console.log("EDIT REGISTER", dataTable.row(rowSelect).data())
            var data = dataTable.row(rowSelect).data();
            console.log(data)
            openModalUpdate(data)
        })

<<<<<<< HEAD
        function Update() {

            var user= {
                Uid: $("#Uid").val(),
                Uname: $("#Uname").val(),
                Ulastname: $("#Ulastname").val(),
                Uemail: $("#Uemail").val(),
                Uphone: $("#Uphone").val(),
                Ustatus: $("#Ustatus").val(),
            }

            jQuery.ajax({
                url: '@Url.Action("CreateUser", "Home")',
                type: "POST",
                data: JSON.stringify(user),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.result > 0) {
                        user.Uid = data.result;
                        dataTable.row(rowSelect).data(user).draw(false);
                        $("#modalCreate").modal("hide");
                        showAlertSuccess(data.message, "success");

                    } else {

                        showAlertWarning(data.message, "warning");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error en la solicitud AJAX: ", status, error);
                    console.log("Respuesta del servidor: ", xhr.responseText);
                    alert("Error en la solicitud AJAX. Revisa la consola para más detalles.");
                },
            });


          

            $("#modalUpdate").modal("hide")
        }

        function openModalView(json) {
            if (json != null) {
                // Asignar los valores al modal
                $("#Vname").text(json.Uname);
                $("#Vlastname").text(json.Ulastname);
                $("#Vemail").text(json.Uemail);
                $("#Vphone").text(json.Uphone);

                const statusMap = {
                    0: 'Inactivo',
                    1: 'Activo',
                    2: 'Suspendido'
                };

                // Asignar el estado al span correspondiente
                $("#Vstatus").text(statusMap[json.Ustatus] || "Desconocido");
            }

            // Mostrar el modal
            $("#modalView").modal("show");
=======

        // Modal View

        function openModalView() {
            $("#modalDelete").modal("show")
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d
        }

        $("#table tbody").on("click", '.btn-view', function () {
            var rowSelect = $(this).closest("tr");
            console.log("VIEW REGISTER", dataTable.row(rowSelect).data());
            var data = dataTable.row(rowSelect).data();
<<<<<<< HEAD

            openModalView(data);
        });




        //////////////////////////////////////////////
        /////////////   Modal Delete   ///////////////
        //////////////////////////////////////////////

        function openModalDelete() {
            $("#modalView").modal("show")
        }
=======
            console.log(data)
        })
>>>>>>> 19595bcb0b459969504cb8f5e5ff11e901108f4d

        // Modal Delete

        function openModalDelete() {
            $("#modalView").modal("show")
        }

        $("#table tbody").on("click", '.btn-delete', function () {
            /*alert("Hola")*/
            var rowSelect = $(this).closest("tr");
            console.log("DELETE REGISTER",dataTable.row(rowSelect).data())
            var data = dataTable.row(rowSelect).data();
            console.log(data)
        })


        //////////////////////////////////////////////
        /////////////    Modal Alert   ///////////////
        //////////////////////////////////////////////

        function showAlertWarning(message, type) {
            var alertHTML = GenerateAlert(message, type);
            $("#alertWarning").html(alertHTML);
        }

        function showAlertSuccess(message, type) {
            var alertHTML = GenerateAlert(message, type);
            $("#alertSuccess").html(alertHTML);
        }
    </script>
}
